
<html>
    
    <head>
        <link rel="stylesheet" href="auth.css">

    </head>
    <body style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; background-color: rgb(206, 220, 231);">
        <form  method="post" action="forgotPasswordCheck.php">
            <fieldset style="width: auto; height: auto; background-color: rgb(230, 234, 238);">
                <legend>Change Password</legend>
                <table>
                    <tr>
                        <td>Email</td>
                        <td>
                            <div id="d4"><input type="email" id="email" name="email" value=""></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <div id="d4"><input type="password" id="password" name="password" value=""></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td>
                           <div id="d4"> <input type="password" id="confirmPassword" name="confirmPassword" value=""></div>
                        </td>
                    </tr>
                </table><br>
                <div id="d1"><input type="submit" name="confirm" value="Confirm" onclick="f1()">   <a href="signup.html">Back</a><br></div>
            </fieldset>
            <h id="msg"></h>
        </form>
        <script>
            function f1(){
                let email = document.getElementById('email').value;
                let password = document.getElementById('password').value;
                let confirmPassword = document.getElementById('confirmPassword').value;

    
                if (email === "" || password === "" || confirmPassword==="") {
                    event.preventDefault(); 
                    document.getElementById('msg').innerHTML = "Please input all the fields...";
                    document.getElementById('msg').style.color = "red";
                } else if (email === "") {
                    event.preventDefault(); 
                    document.getElementById('msg').innerHTML = "Please input an email...";
                    document.getElementById('msg').style.color = "red";
                } else if (password != confirmPassword) {
                    event.preventDefault(); 
                    document.getElementById('msg').innerHTML = "password doesn't match...";
                    document.getElementById('msg').style.color = "red";
                } else {
                    
                    document.getElementById('msg').innerHTML = "";
                }
            };
        </script>
    </body>
</html>