<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="auth.css"> 
</head>
<body style=" display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; background-color: rgb(219, 219, 91);">
    <form method="post" action="homePage.php">
        <fieldset style="width: 350px; text-align: center; background-color: rgb(243, 242, 188);">
            <legend>Home Page</legend>
            <h1 style="margin: 0;">
                <marquee behavior="scroll" direction="left" >
                    FundFlock
                    </marquee>
            </h1>
            <table style="margin: auto;">
                <tr>
                    <td>
                        <div id="d1"><input type="submit" id="" name="signin" value="Sign In"></div>
                    </td>
                    <td>
                        <div id="d1"><input type="submit" id="" name="signup" value="Sign Up" ></div>
                    </td>
                   
                </tr>
            </table>
        </fieldset>
    </form>
    
</body>
</html>